@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900;600&display=swap');
:root{
    --dgreen: #173E43;
    --lgreen: #3FB0AC;
    --yellow: #FAE596;
    --grey: #DDDFD4;
    --red: #EE4266;
    --black:#000000;
    --white:#FFFFFF;

}

html,body{
    overflow-x: hidden;
}
section{
    min-height: 100vh;
}
 .landing{
    background: url('https://i.pinimg.com/originals/12/f4/f4/12f4f4e7f85a771324d7758356ae23e7.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.jumbotron{
    margin: 0;
    border-radius: 0;
}
.card{
    border-radius: 10px;
}

  
.formscard .form-group{
    margin: 2rem 0;
    padding: 1rem;
}
.submitbt{
    width: 100%;
    border: none;
    background-color: var(--dgreen);
    color:var(--yellow);
}
.submitbt:hover{
    background-color: var(--yellow);
    color: var(--dgreen);
}
.form-control{
    border: none;
    border-bottom: 1px solid black;
}

.rotate {
    font-size: 3rem;
    font-family: Montserrat;
    font-weight: 900;
    color:var(--dgreen);
}
.form-group h1{
    font-family: Montserrat;
    font-weight: 600;
}
@media (min-width: 768px) {
    .rotate {
        margin: 0 auto;
        writing-mode: vertical-lr;
        width: 4rem;
        transform: rotate(180deg);
        font-size: 4rem;
     }
}

.headingText{
    /* position: fixed; */
    font-family: Montserrat;
    /* top:1rem;
    left:1rem; */
    font-weight: 900;
    font-size: 2rem;
    color: var(--red);
}
.headingText:hover{
    color:var(--dgreen);
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 3.5px;
    bottom: 3.5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  i{
      font-size: 20px;
      color:var(--dgreen)
  }

  .hiddenparts{
    display: none;
  }
  .droplink .card{
    margin: 1rem 0;
    background: #ffffff;
    box-shadow:  20px 20px 60px #d9d9d9,
                -20px -20px 60px #ffffff;
  }
  .btn-group a{
    margin-right: 1rem;
  }
  .dashboard{
    background: url('https://wallpaperaccess.com/full/4220052.jpg');
    background-size: cover;
    background-attachment: fixed;
  }